<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <!-- Mappage du filtre à toutes les URL -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>com.filters.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>PlanningWebSocket</servlet-name>
        <servlet-class>org.apache.tomcat.websocket.server.WsSci</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlanningWebSocket</servlet-name>
        <url-pattern>/api/planning</url-pattern>
    </servlet-mapping>

    <!-- Mappage du servlet à toutes les URL -->
    <servlet>
        <servlet-name>ProfServlet</servlet-name>
        <servlet-class>com.controller.ProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalleServlet</servlet-name>
        <servlet-class>com.controller.SalleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OccuperServlet</servlet-name>
        <servlet-class>com.controller.OccuperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfServlet</servlet-name>
        <url-pattern>/profs-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalleServlet</servlet-name>
        <url-pattern>/salle-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OccuperServlet</servlet-name>
        <url-pattern>/occuper-servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
